body{
    background-image: url("image/table.jpg");
    background-size: cover;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: bisque;
    font-weight: bold;

}

h1{
    color: goldenrod;
    font-size: 80px;
}

p{
    font-size: 40px;
}
#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    font-weight: bold;
    width: 350px;
    height: 60px;
    background: goldenrod;
    font-size:35px  ;
    border-radius: 2px;
    border: none;
    margin-top:4px;
    margin-bottom: 4px;
}